.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.card-login {
  padding: 8px;
}
.card-content {
  margin-top: 12px;
}
.row {
  display: flex;
  margin-top: 12px;
  ion-label {
    font-size: 0.75rem;
  }
}
.register-text-reg {
  margin-left: 6px;
  color: rgb(75, 75, 255);
  cursor: pointer;
}
.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}
